@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* app component */
.app button {
  display: flex;
  margin: 2%;
  margin-left: auto;
  background: none;
  border: none;
  font-size: 18px;
}

/* home */
.home {
  align-items: center;
}
