/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* app component */
.app button {
  display: flex;
  margin: 2%;
  margin-left: auto;
  background: none;
  border: none;
  font-size: 18px;
}

/* home */
.home {
  text-align: center;
}

/* random quote review */
.random-quote {
  margin: 5% 0;
}

.quote-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote-preview p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  max-width: 300px;
  padding-left: 50px;
  border-left: 3px solid #f7df94;
}
